@import '../../variables.scss';

.footer {
    background-color: black;
    clear: both;
    padding: 20px 0;

    .social-icons {
      float: none;
      text-align: center;
      display: block;
          @include mobile {
            float: none;
            text-align: center;
            margin-top: 8px;
          }
          @include mobile-tablet {
            float: none;
            text-align: center;
            margin-top: 8px;
          }
      .nav-link {
        margin: 0 8px;
        i {
          font-size: 45px;
          color: white;
          @include mobile {
            font-size: 35px;
          }
          &:hover {
            color: $main-blue;
          }
          &:focus {
            color: darken($main-blue, 20%);
          }
        }
      }
    }
    &copyright {
      a {
        color: white;
        &:hover {
          color: white;
        }
      }
      .company {
        @include desktop {
          font-size: 12px;
          text-align: center;
          margin-top: 40px;
          margin-bottom: 10px;
          display: block;
        }
        @include mobile-tablet {
          text-align: center;
          margin-top: 40px;
          margin-bottom: 10px;
          display: block;
        }
        @include mobile {
          text-align: center;
          font-size: 10px;
        }
      }
      .creator {
        @include desktop {
          font-size: 12px;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 2px;
          display: block;
        }
        @include mobile-tablet {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 2px;
          display: block;
        }
        @include mobile {
          text-align: center;
          font-size: 10px;
        }
      }
    }
}

// sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }